/* Body styles */
body {
    background-color: #2c2c2c;
    font-family: 'Roboto', sans-serif;
    color: #d7d7d7;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Header styles */
  header {
    top: 0;
    left: 0;
    display: block;
    align-items: center;
    padding: 10px;
    background-color: #2c2c2c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 70px;
    position: fixed;
    width: 100vw;
  }
  
  header img {
    height: 60px;
    object-fit: contain;
    float: left;
  }
  
  header h1 {
    font-size: 36px;
    font-weight: bold;
    margin-left: 10px;
    color: #50c878;
    text-shadow: 2px 2px 10px #000;
  }

  header button {
    float: right;
    vertical-align: middle;
  }

  #right-head {
    margin: 10px;
    position: fixed;
    right: 10px;
  }
  
  /* Main content styles */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #363636;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  main h2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    color: #50c878;
    text-shadow: 2px 2px 10px #000;
  }
  
  main p {
    margin-top: 0;
    margin-bottom: 20px;
    color: #d7d7d7;
  }
  
  /* Footer styles */
  footer {
    text-align: center;
    padding: 10px;
    background-color: #2c2c2c;
    color: #d7d7d7;
    font-size: 14px;
  }
  
  footer a {
    color: #50c878;
  }

  button {cursor: pointer;}
  
  .green {
    background-color: #50c878;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .green:hover {
    background-color: #50c878;
    box-shadow: 0px 0px 10px #50c878;
  }

  #new-project {
    position: fixed;
    right: 10px;
  }
  