/*Page Loader*/
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading-screen img {
    width: 256px;
    height: 256px;
  }

  .fadeOut {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /*Context Menu for explorer*/
  #explorer-menu {
    position: absolute;
    display: none;
    z-index: 1;
    background-color: #f1f1f1;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
  }
  
  #explorer-menu li {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  #explorer-menu li:hover {
    background-color: #ddd;
  }

  /*Main*/

body {
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2c2c2c;
    border-bottom: 1px solid rgba(80, 200, 120, 0.5);
    height: 20px;
    position: absolute;
    width: 100vw;
    z-index: 10;
  }

  header img {
    height: 30px;
    position: absolute;
    left: 5px;
    top: 5px;
  }

  .header-button {
    background-color: #2c2c2c;
    color: #BBBBBB;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    height: 40px;
    position: absolute;
    top: 0;
    font-size: 16px;
    padding: 10px;
  }

  .h-menu {
    top: 40px;
    display: none;
    position: absolute;
    background-color: #2c2c2c;
    border: 1px solid #BBBBBB;
  }

  .h-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .h-menu ul li {
    margin: 0 0;
    padding: 3px;
    cursor: pointer;
    color: #BBBBBB;
    font-size: 12px;
  }
  .h-menu ul li:hover {
    background-color: #5c5c5c;
  }

  #file {
    left: 100px;
  }


  #file-menu {
    left: 100px;
    height: 100px;
    width: 150px;
  }
  
  #file:hover + .h-menu,
  .h-menu:hover {
    display: block;
  }

  #edit {
    left: 150px;
  }

  #edit-menu {
    left: 150px;
    height: 60px;
    width: 150px;
  }
  
  #edit:hover + .h-menu,
  .h-menu:hover {
    display: block;
  }

  /*Main Styling*/
  main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #3c3c3c;
    z-index: 1;
  }

  #codespace {
    position: absolute;
    border: 1px solid rgba(80, 200, 120, 0.5);
    top: 60px;
    left: 0;
    background-color: #4c4c4c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #ffffff;
    outline: none;
    line-height: 1.7;
    text-indent: 10px;
    width: 30vw;
    height: calc(100vh - 60px);
    overflow: scroll;
    white-space: nowrap;
  }

  #codespace:focus {
    outline: none;
  }

  #codespace::selection {
    background-color: rgba(49, 136, 224, 0.5);
    border-radius: 8px;
  }

  #workspace {
    position: absolute;
    border: 1px solid rgba(80, 200, 120, 0.5);
    top: 40px;
    left: 30vw;
    background-color: #4c4c4c;
    color: #ffffff;
    width: 20vw;
    height: calc(60vh - 40px);
    overflow-x: scroll;
    z-index: 3;
  }

  #preview-container {
    position: absolute;
    right: 0;
    top: 40px;
    width: 50vw;
    height: calc(100vh - 40px);
    z-index: 2;
  }

  #game-canvas {
    position: relative;
    width: 50vw;
    height: 28.125vw;
    top: 20px;
    left: 0;
    background: white;
  }

  .item {
    width: calc(20vw - 2px);
    height: 20px;
    background-color: #5c5c5c;
    border: 1px solid #BBBBBB;
    border-top: none;
    transition: 0.2s;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  
  .item p.name, .item img {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  
  .item p.name {
    font-size: 14px;
    background: transparent;
  }
  
  .item:hover {
    background-color: #6c6c6c;
  }

  .editing {
    border-radius: 2px;
    border: 1px solid #BBBBBB;
    outline: none;
  }

  .item .i-icon {
    height: 18px;
    width: 18px;
    position: absolute;
    right: 0;
  }

  .item .p-icon {
    height: 15px;
    width: 15px;
    border-radius: 2px;
    background: transparent;
    transition: 0.15s;
  }

  .item .p-icon:hover {
    background: #4c4c4c;
  }
  .editor-head {
    background-color: #2c2c2c;
    border: 1px solid rgba(80, 200, 120, 0.5);
    height: 20px;
    position: absolute;
    top: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    z-index: 3;
  }
  
  .editor-head p {
    color: #BBBBBB;
    top: -20px;
    margin-left: 10px;
    position: absolute;
  }  

  #properties {
    position: absolute;
    bottom: 0;
    left: 30vw;
    width: 20vw;
    height: 40vh;
    z-index: 3;
    border: 1px solid rgba(80, 200, 120, 0.5);
  }

  #property-table {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20vw;
    height: 40vh;
    background-color: #4c4c4c;
    z-index: 3;
  }

  .prop-head {
    z-index: 4;
    position: absolute;
    left: 0;
    width: calc(20vw - 2px);
    background-color: #3c3c3c;
    color: white;
    text-align: center;
  }

  .prop-name {
    z-index: 4;
    position: absolute;
    left: 0;
    width: 10vw;
    background-color: #5c5c5c;
    border: 1px solid #BBBBBB;
    color: white;
    text-align: center;
  }

  .prop-data {
    z-index: 4;
    position: absolute;
    right: 0;
    width: 10vw;
    background-color: #5c5c5c;
    border: 1px solid #BBBBBB;
    color: white;
  }

  /*Notificaion Styles*/
  #notifications {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }

  #notification-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4c4c4c;
    border: 1px solid #BBBBBB;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    min-height: 26px;
    max-height: 100px;
    width: 300px;
    height: 29px;
    overflow-y: hidden;
  }

  #notification-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 16px;
    height: 16px;
  }
  
  #notification-content {
    position: absolute;
    top: -5px;
    left: 15px;
    padding: 10px;
    overflow: hidden;
    display: inline-block;
    color: #BBBBBB;
    font-size: 14px;
  }
  
  #notification-close-btn {
    float: right;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    line-height: 25px;
    color: #BBBBBB;
    transition: 0.2s;
    border-radius: 90px;
    border: none;
  }

  #notification-close-btn:hover {
    background: #3c3c3c;
  }

  #alerts {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 250px;
    height: 100px;
    z-index: 9999;
    padding: 10px;
  }

  #alert-container {
    background-color: #3c3c3c;
    border: 1px solid #BBBBBB;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    width: 250px;
    height: 100px;
    color: #BBBBBB;
  }

  .alert-content {
    margin: 5px;
    font-size: 14px;
    position: fixed;
    left: 10px;
    text-align: center;
  }

  .alert-button {
    height: 30px;
    font-size: 20px;
    color: #BBBBBB;
    background-color: transparent;
    transition: 0.1s;
    cursor: pointer;
    position: fixed;
    text-align: center;
    bottom: 15px;
  }

  .alert-button:hover {
    color: #2c2c2c;
  }

  #continue {
    left: 15px;
    border: 1px solid #3aa75f;
  }

  #continue:hover {
    background-color: #3aa75f;
  }

  #nevermind {
    right: 15px;
    border: 1px solid tomato;
  }

  #nevermind:hover {
    background-color: tomato;
  }